@using BookManager.ViewModels.Author
@model AuthorViewModel

@{
	ViewData["Title"] = "Create Author";
}

<h2 class="text-center">Create New Author</h2>

<form asp-action="Create" method="post" class="mt-4">
	<div class="form-group mb-3">
		<label asp-for="Name" class="form-label"></label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-success">Create</button>
	<a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}