@using BookManager.ViewModels
@using BookManager.ViewModels.Author
@model IEnumerable<AuthorViewModel>

@{
	ViewData["Title"] = "All Authors";
}

<h2 class="text-center">All Authors</h2>

<p class="text-end">
	<a class="btn btn-primary" asp-action="Create">Add New Author</a>
</p>

<table class="table table-bordered table-striped">
	<thead class="table-dark">
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var author in Model)
	{
		<tr>
			<td>@author.Name</td>
			<td>
				<a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@author.Id">Details</a>
				<a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@author.Id">Edit</a>
				<a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@author.Id">Delete</a>
			</td>
		</tr>
	}
	</tbody>
</table>