@model BookManager.ViewModels.Publisher.CreatePublisherViewModel
@{
	ViewData["Title"] = "Добави издателство";
}

<h2>Добави ново издателство</h2>

<form asp-action="Create" method="post">
	<div class="form-group">
		<label asp-for="Name" class="form-label"></label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<br />
	<button type="submit" class="btn btn-primary">Добави</button>
	<a asp-action="Index" class="btn btn-secondary">Назад</a>
</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}