@model List<BookManager.ViewModels.Publisher.PublisherDropdownViewModel>

@{
	ViewData["Title"] = "Всички издателства";
}

<h2 class="mb-4">Издателства</h2>

<a asp-action="Create" class="btn btn-success mb-3">Добави ново издателство</a>

<table class="table table-bordered">
	<thead>
	<tr>
		<th>Име</th>
		<th>Действия</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var publisher in Model)
	{
		<tr>
			<td>@publisher.Name</td>
			<td>
				<a asp-action="Edit" asp-route-id="@publisher.Id" class="btn btn-primary btn-sm">Редактирай</a>
				<a asp-action="Delete" asp-route-id="@publisher.Id" class="btn btn-danger btn-sm">Изтрий</a>
			</td>
		</tr>
	}
	</tbody>
</table>