@{
	ViewData["Title"] = "Страницата не е намерена";
}

<h1 class="text-danger">Грешка 404</h1>
<p>Упс! Търсената страница не съществува.</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Към началната страница</a>